.detail {
  color: aliceblue;
  font-size: 2rem;
  width: 30%;
  margin: auto;
}

.button {
  border: none;
  background-color: transparent;
  color: aliceblue;
}

.temps {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 501px) and (max-width: 800px) {
  .detail {
    font-size: 1.5rem;
    width: 50%;
  }
}

@media (max-width: 500px) {
  .detail {
    font-size: 1.3rem;
    width: 90%;
  }
}
