.card {
  margin: 10px 20px;
  width: 30%;
  background-color: rgba(240, 248, 255, 0.288);
  backdrop-filter: blur(3px);
  color: aliceblue;
  border: 0.5px solid aliceblue;
  border-radius: 2rem;
  -webkit-box-shadow: 6px 0px 36px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 0px 36px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 0px 36px -7px rgba(0, 0, 0, 0.75);
}

.card:hover {
  background-color: #1d346a;
  transition: background-color 500ms ease;
}

.card-title {
  text-align: center;
  font-size: 2rem;
  color: aliceblue;
}

.card-title:hover {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

.card-temp {
  margin-bottom: 10px 0;
  text-align: center;
  font-size: 2rem;
}

.country {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.card-subtitle {
  margin: 10px 0;
  text-align: center;
  font-size: 1.3rem;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.boton {
  color: rgb(75, 77, 78);
}

@media (max-width: 600px) {
  .card {
    margin: 10px 20px;
    width: 80%;
    bottom: 10%;
  }

  .card + .card {
    display: none;
  }

  .card:hover {
    transform: none;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .res {
    width: 25%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .card {
    margin: 10px 20px;
    width: 40%;
  }

  .card + .card + .card {
    display: none;
  }

  .card:hover {
    transform: none;
  }
}
